﻿@model LoggedIn.Models.User;

@{
    ViewData["Title"] = "Home Page";
}

<h1>Create An Account</h1>
<hr>
<div class="row">
    <div class="container col-md-4">
        <form asp-controller="User" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label" />
                <input asp-for="Username" class="form-control" placeholder="Username" type="text" />
                <span asp-validation-for="Username" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label" />
                <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>