﻿@{ 
    ViewData["title"] = "Received";
}

<h1>We've Received Your Registration</h1>
<hr />
<h2>Welcome to the Logged In Experience</h2>
<h4>I'm glad that you managed to log in <strong>@ViewBag.User</strong></h4>
<hr />
<a asp-controller="Home" asp-action="Login"></a>